@import "tailwindcss";

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-LtIt.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-RgIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-MdIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-BdIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Blk.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-BlkIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-UltLt.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-UltLtIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-XLt.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-XLtIt.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-Th.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SteradianTRIAL";
  src: url("/fonts/SteradianTRIAL-ThIt.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@theme {
  --font-steradian: SteradianTRIAL, sans-serif;
}
